<ul role="list" class="divide-y divide-gray-100 grid grid-cols-2 grid-rows-2">
  <li class="flex justify-between gap-x-6 py-5" *ngFor="let member of members">
    <div class="flex min-w-0 gap-x-4">
      <img
        class="h-24 w-24 flex-none rounded-full bg-gray-50"
        [src]="'/assets/images/' + member.img"
        alt=""
      />
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900">
          {{ member.name }}
        </p>
      </div>
    </div>
  </li>
</ul>
