<div class="container">
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let user of users"
    >
      <div class="d-flex flex-column">
        <h5 class="mb-1">{{ user.name }}</h5>
        <p class="mb-1">Email: {{ user.email }}</p>
        <p class="mb-1">Role: {{ user.role }}</p>
      </div>
      <div>
        <button
          class="btn btn-sm btn-danger m-2"
          (click)="deleteUser(user._id!)"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
